packages:
  yum:
    amazon-linux-extras: []
    curl: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static/

commands:
  01_postgres_activate:
    command: sudo amazon-linux-extras enable postgresql10
  02_postgres_install:
    command: sudo yum install -y postgresql-devel