{% extends 'layouts/base.html' %}

{% load bootstrap %}

{% block title %} Faturas {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">

    <div class="row p-3">
        <div class="col col-8">
            <h1>Faturas</h1>
        </div>
        <div class="col col-4 d-flex flex-row-reverse">
            <a href="{% url 'uc_faturas_cadastro' uc=UC %}" class="btn btn-success "><span>Adicionar Fatura</span></a>						
        </div>
    </div>

    <div class="table-responsive">
        <div>
            <table class="table align-items-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Fatura
                        </th>
                        <th scope="col">
                            Mês
                        </th>
                        <th scope="col">
                            Ação
                        </th>
                    </tr>
                </thead>
                <tbody class="list">

                    {% for fatura in Faturas %}
                    <tr>
                        <th scope="row" class="name">
                            <a href="{% url 'faturas_download' fatura.id %}">
                                <span> Fatura </span>
                            </a>
                        </th>
                        <td class="budget">
                            {{ fatura.mes_ano|date:"F, Y"}}
                        </td>
                        <td class="actions">
                            <!-- <a type="button" class="btn btn-warning btn-sm" href="/uc/{{ UC }}/faturas/atualiza/{{ fatura.id }}">Editar</a> -->
                            <a type="button" class="btn btn-danger btn-sm delete" href="/uc/{{ UC }}/faturas/deleta/{{ fatura.id }}">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>

</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    $('.delete').click(function() {
        if(confirm('Você realmente deseja apagar esta fatura?') != true){
            return false
        };
    });
</script>
<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}