{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <!-- <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
              <li class="breadcrumb-item active" aria-current="page">Default</li>
            </ol>
          </nav> -->
          <h6 class="h2 text-white d-inline-block mb-0 ml-md-4">UC:</h6>
          <div class="form-group h2 text-white d-inline-block mb-0">
            <select class="form-control" id="UCSelect">
              {% for uc in uc_options %}
                {% if uc == uc_selected %}
                  <option selected> {{ uc }} </option>
                {% else %}
                  <option> {{ uc }} </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
  
        </div>
        <div class="col-lg-6 col-5 text-right">
          <h6 class="h2 text-white d-inline-block ">Intervalo:</h6>
          <div class="form-group h2 text-white d-inline-block ">
            <select class="form-control px-5" id="TimeSelect">
              {% for time in time_options %}
                {% if time == time_selected %}
                  <option selected> {{ time }} </option>
                {% else %}
                  <option> {{ time }} </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <!-- <a href="#" class="btn btn-sm btn-neutral">New</a>
          <a href="#" class="btn btn-sm btn-neutral">Filters</a> -->
        </div>
      </div>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Pago</h5>
                  <span class="h2 font-weight-bold mb-0"> {{ indicadores.card.total_pago }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Multas Pagas</h5>
                  <span class="h2 font-weight-bold mb-0"> {{ indicadores.card.multas_pagas }} </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                    <i class="ni ni-chart-pie-35"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">KWh Efetivo</h5>
                  <span class="h2 font-weight-bold mb-0"> {{ indicadores.card.kwh_efetivo }} </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                    <i class="ni ni-money-coins"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Meta de Economia</h5>
                  <span class="h2 font-weight-bold mb-0"> {{ indicadores.card.meta_economia }} </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                    <i class="ni ni-chart-bar-32"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  
  <!-- Segunda Linha -->
  <div class="row">
    <!-- Gráfico Pizza Distribuição dos Gastos -->
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase mb-1 h3">Distribuição dos Gastos</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="dist-gastos-pie" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Gráfico Pizza HP vs HFP -->
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase mb-1 h3">HP vs HFP</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="hp-pie" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Gráfico Barras Ultrapassagem de Demanda -->
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase mb-1 h3">Ultrapassagem de Demanda</h6>
              <!-- <h5 class="h3 mb-0">Total orders</h5> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="ult-demanda-bar" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- Terceira Linha -->
  <div class="row">
    <!-- Gráfico Barras Multas -->
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase mb-1 h3">Multas</h6>
              <!-- <h5 class="h3 mb-0">Total orders</h5> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="multas-bar" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Gráfico Barras Kwh Efetivo -->
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase mb-1 h3">KWh Efetivo</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="kwh-efetivo-bar" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

<script src="/static/assets/js/chartjs-plugin-colorschemes.min.js"></script>

<!-- Dados Globais dos Gráficos -->
<script>
  
  // Variáveis dos indicadores
  var data_multas = JSON.parse('{{ indicadores.multas|escapejs }}');
  var data_ult_demanda = JSON.parse('{{ indicadores.ult_demanda|escapejs }}');
  var data_kwh_efetivo = JSON.parse('{{ indicadores.kwh_efetivo|escapejs }}');
  var data_dist_gastos = JSON.parse('{{ indicadores.dist_gastos|escapejs }}');
  var data_hp_hfp = JSON.parse('{{ indicadores.hp_hfp|escapejs }}');
  
  // Funcionalidade do Filtro
  $( "#TimeSelect,#UCSelect" ).change(function() {
    let time_option = $( "#TimeSelect" ).val();
    let uc_option = $('#UCSelect').val();
    var csrftoken = '{{ csrf_token }}';
    
    window.location.href = '/?uc_filter=' + uc_option + '&time_filter=' + time_option;
  });

</script>

<!-- Gráficos -->
<script src="/static/assets/js/components/charts/chart-dist-gastos-pie.js"></script>
<script src="/static/assets/js/components/charts/chart-hp-pie.js"></script>
<script src="/static/assets/js/components/charts/chart-ult-demanda-bar.js"></script>
<script src="/static/assets/js/components/charts/chart-multas-bar.js"></script>
<script src="/static/assets/js/components/charts/chart-kwh-efetivo-bar.js"></script>
{% endblock javascripts %}